
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(found2.jpg); 
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}   


.form-box {
    width : 350px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 15px;
    padding: 25px;
}

.form-box h3 {
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

input.form-control, select.form-select {
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
}


.table-responsive {
    border-radius: 15px;
    overflow: hidden;
}